<#-- ------------ MESSAGE TO SHOW : INFO, ERROR, ALERTE, CONFIRM --------------- -->
<#macro showErreurs erreursList>
	<#if erreursList?? && erreursList?has_content >
		<div class="alert alert-block alert-error fade in">
			<button class="close" data-dismiss="alert" type="button">
				×
			</button>
			<#list erreursList as erreur>
				<p><strong>${(erreur)!}</strong></p>
			</#list>
		</div>
	</#if>
</#macro>

<#macro showInformations informationsList>
	<#if informationsList?? && informationsList?has_content >
		<div class="alert fade in">
			<button class="close" data-dismiss="alert" type="button">
				×
			</button>
			<#list informationsList as informations>
				${(informations)!}
			</#list>
		</div>
	</#if>
</#macro>

<#macro showAlerte alertesList >
	<#if alertesList?? >
		<div id="myModal" class="modal hide fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-body">
				<#list alertesList as alerte>
					<p>
						#i18n{${(alerte)!}}
					<p>
				</#list>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">#i18n{pac.transverse.valider}</button>
			</div>
		</div>
		<script type="text/javascript" charset="utf-8">
			$( document ).ready(function() {
				$('#myModal').modal({show: 'true'}); 
			});
		</script>
	</#if>
</#macro>

<#macro showSessionMessage >
	<#if sessionMessage?? && sessionMessage.messages["CODE_INFORMATION"]?has_content >
		<@showInformations informationsList=sessionMessage.messages["CODE_INFORMATION"] />
	</#if>
	<#if sessionMessage??&& sessionMessage.messages["CODE_ERREUR"]?has_content >
		<@showErreurs erreursList=sessionMessage.messages["CODE_ERREUR"] />
	</#if>
	<#if sessionMessage?? && sessionMessage.messages["CODE_ALERTE"]?has_content >
		<@showAlerte alertesList=sessionMessage.messages["CODE_ALERTE"] />
	</#if>
</#macro>