<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Checker Practice webapp</display-name>
  <servlet>
  	<servlet-name>PingServlet</servlet-name>
  	<display-name>PingServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.PingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Erreur500Servlet</servlet-name>
  	<display-name>Erreur500Servlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.Erreur500Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Erreur403Servlet</servlet-name>
  	<display-name>Erreur403Servlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.Erreur403Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdentifiantServlet</servlet-name>
  	<display-name>IdentifiantServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.IdentifiantServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewPartieServlet</servlet-name>
  	<display-name>NewPartieServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.NewPartieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NextPartieServlet</servlet-name>
  	<display-name>NextPartieServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.NextPartieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StatusServlet</servlet-name>
  	<display-name>StatusServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.StatusServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardServlet</servlet-name>
  	<display-name>BoardServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.BoardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LastMoveServlet</servlet-name>
  	<display-name>LastMoveServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.LastMoveServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayServlet</servlet-name>
  	<display-name>PlayServlet</display-name>
  	<description></description>
  	<servlet-class>battle.csn.lucette.servlet.PlayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PingServlet</servlet-name>
  	<url-pattern>/test/ping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Erreur500Servlet</servlet-name>
  	<url-pattern>/test/pingError500</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Erreur403Servlet</servlet-name>
  	<url-pattern>/test/pingError403</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdentifiantServlet</servlet-name>
  	<url-pattern>/test/player/getIdEquipe/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewPartieServlet</servlet-name>
  	<url-pattern>/test/practice/new/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NextPartieServlet</servlet-name>
  	<url-pattern>/test/practice/next/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StatusServlet</servlet-name>
  	<url-pattern>/test/game/status/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardServlet</servlet-name>
  	<url-pattern>/test/game/board/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LastMoveServlet</servlet-name>
  	<url-pattern>/test/game/getlastmove/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayServlet</servlet-name>
  	<url-pattern>/test/game/play/*</url-pattern>
  </servlet-mapping>
  
</web-app>
